:root {
  --main-bg-color: #ececec;
  --main-text-color: #292929;
  --menu-bg-color: #4eade3;
  --menu-btn-color: #7fcdf9;
  --footer-bg-color: #292929;
  --header-bg-color: #d9d9d9;
  --header-border-color: black;
}
