.loading-container {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading-image {
  max-width: 280px;
}
